* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #0d0d0d;
}

.wrap {
  width: 340px;
  height: 1100px;
  margin: 0 auto;
  background: #ddd;
  position: relative;
  overflow: hidden;
}